@media screen {
	* {
		margin: 0;
		padding: 0;
		font-family: "Convergence", sans-serif;
		box-sizing: border-box;
		color: white;
	}

	main {
		position: relative;
		width: auto;
		height: auto;
	}

	.homebackground {
		background-image: url("../img/pizza-background-home.jpg");
		background-size: cover;
		background-position: 50% 50%;
		background-attachment: fixed;
	}

	.background-img {
		background-image: url("../img/pizza-background.jpg");
		background-size: cover;
		background-position: 50% 50%;
		background-attachment: fixed;
	}
}

@media (min-width: 1200px) {
	.menu-icon {
		display: none;
	}

	h1 {
		font-size: 36px;
		position: absolute;
		top: 10vh;
		left: 50vw;
		transform: translate(-50%);
	}

	h2 {
		font-size: 25px;
		position: absolute;
	}

	ul {
		list-style-type: none;
		overflow: hidden;
		background-color: #333;
		position: fixed;
		top: 0;
		width: 100%;
		opacity: 40%;
		transition: 0.5s;
		border-bottom: 1px solid #bbb;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul.home {
		background-color: #5a3f2e;
	}

	li a.a-home:hover {
		background-color: #2d1207;
	}

	ul:hover {
		opacity: 100%;
	}

	li {
		border-right: 1px solid #bbb;
		float: left;
	}

	li a {
		display: block;
		text-align: center;
		padding: 1.5vh 8vw;
		transition: 0.5s;
	}

	.active {
		background-color: rgb(94, 93, 93);
	}

	.hactive {
		background-color: #312318;
	}

	a {
		text-decoration: none;
	}

	li a:hover {
		background-color: #111;
	}

	li:first-child {
		border-left: 1px solid #bbb;
	}

	footer {
		text-align: center;
		color: whitesmoke;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100vw;
		height: auto;
		padding: 10px;
		background-color: #111;
	}

	span.span-home {
		font-size: 25px;
		position: absolute;
		top: 40vh;
		left: 50%;
		transform: translate(-50%);
	}

	button.see-menu {
		text-align: center;
		position: absolute;
		top: 50vh;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px 40px;
		background-color: #5a3f2e;
		opacity: 90%;
		transition: 0.5s;
		cursor: pointer;
		border-radius: 15%;
	}

	button.see-menu:hover {
		opacity: 1;
		box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	}

	.menu {
		position: absolute;
		top: 30vh;
		left: 50vw;
		transform: translate(-8%);
		border: 1px solid white;
		font-size: 25px;
		width: 50vw;
		text-align: center;
		padding: 20px;
		border-collapse: collapse;
	}

	td {
		line-height: 60px;
		border: 1px solid white;
		padding: 15px;
	}

	th {
		font-family: "Josefin Sans", sans-serif;
		font-weight: bold;
		text-align: center;
		padding: 15px;
	}

	input[type="text"],
	select,
	textarea {
		width: 100%;
		height: 100%;
		border-radius: 4px;
	}

	input[type="submit"] {
		background-color: #04aa6d;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: 0.3s;
	}

	input[type="submit"]:hover {
		background-color: #45a049;
	}

	.tdcontact {
		border: none;
		text-align: center;
		/* border: 1px solid white; */
		padding: 0;
		margin: 0;
	}

	.tbcontact {
		position: absolute;
		top: 35vh;
		left: 50vw;
		transform: translate(-20%);
		width: 50vw;
		height: 55vh;
	}

	.adress {
		position: absolute;
		top: 20vh;
		left: 15vw;
		width: 20vw;
	}

	.lorem-about {
		font-size: 20px;
		min-width: 500px;
		max-width: 800px;
		position: absolute;
		top: 40vh;
		left: 50vw;
		transform: translate(-15%);
		line-height: 30px;
		text-align: justify;
		text-justify: inter-word;
	}

	.contact-in-about {
		text-decoration: underline;
		color: wheat;
	}
}

@media (max-width: 1200px) {
	[type="checkbox"]:checked,
	[type="checkbox"]:not(:checked) {
		position: absolute;
		left: -9999px;
	}
	.menu-icon:checked + label,
	.menu-icon:not(:checked) + label {
		position: fixed;
		top: 46px;
		right: 75px;
		display: block;
		width: 30px;
		height: 30px;
		padding: 0;
		margin: 0;
		cursor: pointer;
		z-index: 10;
	}
	.menu-icon:checked + label:before,
	.menu-icon:not(:checked) + label:before {
		position: absolute;
		content: "";
		display: block;
		width: 30px;
		height: 20px;
		z-index: 20;
		top: 0;
		left: 0;
		border-top: 2px solid #ececee;
		border-bottom: 2px solid #ececee;
		transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
			height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease,
			transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu-icon:checked + label:after,
	.menu-icon:not(:checked) + label:after {
		position: absolute;
		content: "";
		display: block;
		width: 22px;
		height: 2px;
		z-index: 20;
		top: 11px;
		right: 4px;
		background-color: #ececee;
		margin-top: -1px;
		transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease,
			transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu-icon:checked + label:before {
		top: 10px;
		transform: rotate(45deg);
		height: 2px;
		background-color: #ececee;
		border-width: 0;
		transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
			height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease,
			transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu-icon:checked + label:after {
		width: 30px;
		margin-top: 0;
		right: 0;
		transform: rotate(-45deg);
		transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
			transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.nav {
		position: fixed;
		top: 15px;
		right: 50px;
		display: block;
		width: 80px;
		height: 80px;
		padding: 0;
		margin: 0;
		z-index: 9;
		overflow: hidden;
		box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
		background-color: #5a3f2e;
		border-radius: 50%;
		animation: border-transform 7s linear infinite;
		transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
			transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
			height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	nav.nav.othernav {
		background-color: #333;
	}
	/* @keyframes border-transform {
		0%,
		100% {
			border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
		}
		14% {
			border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
		}
		28% {
			border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
		}
		42% {
			border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
		}
		56% {
			border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
		}
		70% {
			border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
		}
		84% {
			border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
		}
	}  */

	.menu-icon:checked ~ .nav {
		animation-play-state: paused;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		width: 200%;
		height: 200%;
		transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
			transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
			height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.nav ul {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		z-index: 6;
		text-align: center;
		transform: translateY(-50%);
		list-style: none;
	}
	.nav ul li {
		position: relative;
		display: block;
		width: 100%;
		padding: 0;
		margin: 10px 0;
		text-align: center;
		list-style: none;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transform: translateY(30px);
		transition: all 250ms linear;
	}
	.nav ul li:nth-child(1) {
		transition-delay: 200ms;
	}
	.nav ul li:nth-child(2) {
		transition-delay: 150ms;
	}
	.nav ul li:nth-child(3) {
		transition-delay: 100ms;
	}
	.nav ul li:nth-child(4) {
		transition-delay: 50ms;
	}
	.nav ul li a {
		font-family: "Convergence", sans-serif;
		font-size: 9vh;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 1.4;
		font-weight: 800;
		display: inline-block;
		position: relative;
		color: #ececee;
		transition: all 250ms linear;
	}
	.nav ul li a:hover {
		text-decoration: none;
		color: #ffeba7;
	}
	.nav ul li a:after {
		display: block;
		position: absolute;
		top: 50%;
		content: "";
		height: 2vh;
		margin-top: -1vh;
		width: 0;
		left: 0;
		background-color: #353746;
		opacity: 0.8;
		transition: width 250ms linear;
	}
	.nav ul li a:hover:after {
		width: 100%;
	}

	.menu-icon:checked ~ .nav ul li {
		pointer-events: auto;
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 350ms ease, transform 250ms ease;
	}
	.menu-icon:checked ~ .nav ul li:nth-child(1) {
		transition-delay: 1400ms;
	}
	.menu-icon:checked ~ .nav ul li:nth-child(2) {
		transition-delay: 1480ms;
	}
	.menu-icon:checked ~ .nav ul li:nth-child(3) {
		transition-delay: 1560ms;
	}
	.menu-icon:checked ~ .nav ul li:nth-child(4) {
		transition-delay: 1640ms;
	}

	@media screen and (max-width: 991px) {
		.menu-icon:checked + label,
		.menu-icon:not(:checked) + label {
			right: 40px;
		}

		.nav {
			right: 15px;
		}
	}

	.h1home {
		position: absolute;
		/* top: 58px; */
		top: 18vh;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 32px;
		white-space: nowrap;
	}

	span.span-home {
		font-size: 25px;
		position: absolute;
		top: 40vh;
		left: 50%;
		transform: translate(-50%);
		white-space: nowrap;
	}

	button.see-menu {
		text-align: center;
		position: absolute;
		top: 55vh;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px 40px;
		background-color: #5a3f2e;
		opacity: 90%;
		border-radius: 15%;
	}

	.h1about {
		position: absolute;
		/* top: 58px; */
		top: 12vh;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 32px;
		white-space: nowrap;
	}

	.lorem-about {
		position: absolute;
		top: 18vh;
		margin: 7.5vw;
		line-height: 24px;
		text-align: justify;
		text-justify: inter-word;
	}
}

@media (max-width: 400px) {
	.h1home {
		white-space: normal;
		text-align: center;
		top: 23vh;
	}

	span.span-home {
		white-space: normal;
		text-align: center;
	}

	button.see-menu {
		top: 65vh;
	}
}
