@media screen {
	* {
		margin: 0;
		padding: 0;
		font-family: "Convergence", sans-serif;
		box-sizing: border-box;
	}

	main {
		position: relative;
		width: auto;
		height: auto;
	}

	.homebackground {
		background-image: url('/img/pizza-background-home.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-attachment: fixed;
	}

	h1 {
		color: white;
		font-size: 36px;
		position: absolute;
		top: 10vh;
		left: 50vw;
		transform: translate(-50%);
	}

	h2 {
		color: white;
		font-size: 25px;
		position: absolute;
	}

	ul {
		list-style-type: none;
		overflow: hidden;
		background-color: #333;
		position: fixed;
		top: 0;
		width: 100%;
		opacity: 40%;
		transition: 0.5s;
		border-bottom: 1px solid #bbb;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul.home {
		background-color: #5a3f2e;
	}

	li a.a-home:hover {
		background-color: #2d1207;
	}

	ul:hover {
		opacity: 100%;
	}

	li {
		border-right: 1px solid #bbb;
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 1.5vh 8vw;
		transition: 0.5s;
	}

	.active {
		background-color: rgb(94, 93, 93);
	}

	.hactive {
		background-color: #312318;
	}

	a {
		text-decoration: none;
	}

	li a:hover {
		background-color: #111;
	}

	li:first-child {
		border-left: 1px solid #bbb;
	}

	footer {
		text-align: center;
		color: whitesmoke;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100vw;
		height: auto;
		padding: 10px;
		background-color: #111;
	}

	span.span-home {
		color: white;
		font-size: 25px;
		position: absolute;
		top: 40vh;
		left: 50%;
		transform: translate(-50%);
	}

	button.see-menu {
		text-align: center;
		position: absolute;
		top: 50vh;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px 40px;
		background-color: #5a3f2e;
		opacity: 90%;
		transition: 0.5s;
		cursor: pointer;
		color: white;
		border-radius: 15%;
	}

	button.see-menu:hover {
		opacity: 1;
		box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	}

	.menu {
		position: absolute;
		top: 30vh;
		left: 50vw;
		transform: translate(-8%);
		border: 1px solid white;
		color: white;
		font-size: 25px;
		width: 50vw;
		text-align: center;
		padding: 20px;
		border-collapse: collapse;
	}

	td {
		line-height: 60px;
		border: 1px solid white;
		padding: 15px;
	}

	th {
		font-family: "Josefin Sans", sans-serif;
		font-weight: bold;
		text-align: center;
		padding: 15px;
	}

	input[type="text"],
	select,
	textarea {
		width: 100%;
		height: 100%;
		border-radius: 4px;
	}

	input[type="submit"] {
		background-color: #04aa6d;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: 0.3s;
	}

	input[type="submit"]:hover {
		background-color: #45a049;
	}

	.tdcontact {
		border: none;
		text-align: center;
		/* border: 1px solid white; */
		padding: 0;
		margin: 0;
		color: white;
	}

	.tbcontact {
		position: absolute;
		top: 35vh;
		left: 50vw;
		transform: translate(-20%);
		width: 50vw;
		height: 55vh;
	}

	.adress {
		position: absolute;
		top: 20vh;
		left: 15vw;
		width: 20vw;
	}

	.lorem-about {
		font-size: 20px;
		color: #fff;
		min-width: 500px;
		max-width: 800px;
		position: absolute;
		top: 40vh;
		left: 50vw;
		transform: translate(-15%);
		line-height: 30px;
		text-transform: capitalize;
		text-align: justify;
		text-justify: inter-word;
	}
}
